@import url(../css/normalize.css);
@import url(../fonts/fonts.css);

body {
  width: 100%;
  color: #474747;
  background-color: #fff;
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
*,
*:after,
*:before {
  -moz-transition: all 0.3s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}
body.fixed {
  overflow-y: hidden;
}

section {
  padding: 60px 0px;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.fr {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}
.fr-fs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  
  justify-content: flex-start;
  margin: 0 -15px;
}
.fi-6{
  box-sizing: border-box;

  width: calc(100% / 12 * 2 - 30px);
  margin: 15px;
}
.fi-4{
  box-sizing: border-box;

  width: calc(100% / 12 * 3 - 30px);
  margin: 15px;
}
.fi-3{
  box-sizing: border-box;

  width: calc(100% / 12 * 4 - 30px);
  margin: 15px;
}
.fi-2 {
  box-sizing: border-box;

  width: calc(100% / 12 * 6 - 30px);
  margin: 15px;
}


@media screen and (max-width: 768px) {
  .fi-3,
  .fi-4,
  .fi-6 {
    width: calc(100% / 12 * 6 - 30px);
  }
}
@media screen and (max-width: 520px) {
  .fi-2,
  .fi-3,
  .fi-4,
  .fi-6 {
    width: calc(100% / 12 * 120 - 30px);
  }
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection{
  color            : #fff;
  background-color : #bc232f
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection{
  color            : #fff;
  background-color : #bc232f
}

::-moz-selection{
  color            : #fff;
  background-color : #bc232f
}

::selection{
  color            : #fff;
  background-color : #bc232f
}

::-moz-selection{
  color            : #fff;
  background-color : #bc232f
}
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select {
  text-decoration: none;
  outline: none;
  -moz-transition: all 0.4s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  cursor: pointer;
}
button {
  border: transparent;
  background: none;
}
input,
textarea{
	color: #444444;
  font-family: 'Gilroy-Regular';
	font-size: 14px;
	padding: 15px 30px;
	background: none;
  border: 1px solid #E5E5E5;
}
input[type="submit"] {
  border: transparent;
}
.shd {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64);
  box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64);
}
  .shd:hover {
    -webkit-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.69);
    box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.69);
  }

.form__input::-webkit-input-placeholder { color: #444444; }
.form__input::-ms-input-placeholder { color: #444444; }
.form__input::-ms-input-placeholder { color: #444444; }
.form__input::placeholder { color: #444444; } 

select {
    color: #1F2A36;
    font-size: 14px;
    padding: 15px 30px;
    background: none;
    border: 1px solid transparent;
}
option {
  color: #000;
}
textarea {
    resize:none;
}
input:focus,
textarea:focus{
	background: none;
	color: #000;
	-webkit-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  border-color: #bc232f;
	outline: none;
}
input:active,
textarea:active{
  -webkit-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  border-color: #bc232f;
	outline: none;
}
ol, ul {
	list-style-type: none;
	padding-left: 0;
}
a {
  color: #000;
  font-size: 14px;
}
a:hover {
  color: #bc232f;
}

button:active{
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(2, 191, 219, 0.34);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(2, 191, 219, 0.34);
  box-shadow: inset 0px 0px 5px 1px rgba(2, 191, 219, 0.34);
}

.hidden {
	display: none !important;
}
.btn {
	font-size: 14px;
	font-family: 'Gilroy-Semibold';
  text-align: center;
	padding: 12px 30px;
  color: #fff;
  background-color: #b40916;
  border: 2px solid #b40916;
	position: relative;
  -webkit-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
  box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
}
  .btn:hover {
    color: #fff;
    background-color: #fe4e5b;
    border-color: #fe4e5b;
    -webkit-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
    box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  }
  .btn_transp {
    color: #000;
    background-color: transparent;
  }

.popup__container {
  padding: 40px;
  background-color: transparent;
}
  .popup__container .fancybox-close-small {
    top: 40px;
    right: 40px;
    color: #225634;
  }
  .popup__wrp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .popup_call__wrp {
    max-width: 420px;
  }
    .popup__wrp:before {
      z-index: 1;
      content: '';
      position: absolute;
      height: 110%;
      width: 110%;
      top: -5%;
      right: -5%;
      bottom: -5%;
      left: -5%;
      background-color: #bc232f78;
      z-index: 1;
    }
    .popup {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -ms-align-items: center;
      align-items: center;
      justify-content: flex-start;
      background-color: #fff;
      color: #000;
      padding: 20px 65px 30px;
      text-align: center;
    }
      .popup__ttl {
        font-family: 'Gilroy-ExtraBold', sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 30px;
      }
      .popup__wrp .form__input {
        color: #000;
        margin-bottom: 15px;
      }
        .popup__wrp .form__input {
          color: #000;
        }
      input.form__input::-webkit-input-placeholder { color: #000; }
      input.form__input::-ms-input-placeholder { color: #000; }
      input.form__input::-ms-input-placeholder { color: #000; }
      input.form__input::placeholder { color: #000; } 

      .popup__wrp .form__input_submit {
        color: #fff;
        width: 100%;
        margin-bottom: 30px;
      }
      .popup__policy {
        margin-top: 15px;
        max-width: 230px;
        text-align: center;
        font-size: 12px;
      }
        .popup__policy a {
          font-size: 12px; 
          color: #bc232f;
        }
  
.section__ttl-wrp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 35px;
}
.section__ttl {
  color: #000;
  font-size: 40px;
  font-family: 'Gilroy-ExtraBold';
  margin-bottom: 25px;
}
  .section__ttl-wrp .section__ttl {
    margin: 0;
  }


.input__wrp {
  position: relative;
  border: 1px solid #fff;
  max-width: 230px;
}
  .input__wrp input {
    width: 100%;
    padding-left: 35px;
  }
  .input__wrp:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 15px;
    width: 16px;
    height: 17px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .input__wrp_name:before {
    background-image: url(../img/letter__cat-img.png);
  }
  .input__wrp_mail:before {
    background-image: url(../img/letter__email-img.png);
  }
  .input__wrp_tel:before {
    background-image: url(../img/letter__tel-img.png);
  }

  .policy__checkbox-wrp {
    margin: 15px auto;
    display: block;
    max-width: 360px;
  }
    .policy__link {
      text-decoration: underline;
      color: #39B54A;
    }
    .policy__checkbox-wrp input[type="checkbox"] {
        position: absolute;
        z-index: 1;
        opacity: 0;
        width: 280px;
        height: 60px;
  }

    .checkbox__text {
        position: relative;
        padding: 2px 0 0 25px;
        cursor: pointer;
    }
      .checkbox__text:before {
        content: '';
        position: absolute;
        top: 0px;
        left: -2px;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        border: 1px solid #c3c2c2;
        background: #fff;
      }
      .checkbox__text:after {
        content: '';
        position: absolute;
        top: 5px;
        left: -2px;
        width: 20px;
        height: 12px;
        background: url(../img/policy__gal.svg) no-repeat 50% 50% / contain;
        opacity: 0;
        transform: scale(0);
        transition: 0.2s;
      }

      .policy__checkbox-wrp input[type="checkbox"]:checked + .checkbox__text:after {
        opacity: 1;
        transform: scale(1);
      }
      .policy__checkbox-wrp input[type="checkbox"]:checked + .checkbox__text:before {
        background-color: #fff;
        border: 1px solid #39B54A;
      }
      .policy__checkbox-wrp input[type="checkbox"]:focus + .checkbox__text:before {
        box-shadow: inset 0 1px 2px rgba(0,0,0,.2), 0 0 0 1px rgba(49, 179, 237, 0.61);
      }
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 46%;
  right: 20px;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 46%;
  left: 20px;
}
.owl-carousel .owl-nav button.disabled {
  opacity: .5;
}
.list_circle,
.list_disc,
.list_square,
.list_number{
    margin-left: 20px;
}
  .list_circle li {
      list-style-type: circle;
  }
  .list_disc li {
      list-style-type: disc;
  }
  .list_square li {
      list-style-type: square;
  }
  .list_number li {
      list-style-type: decimal;
  }
  .list_circle li:not(last-child),
  .list_disc li:not(last-child),
  .list_square li:not(last-child),
  .list_number li:not(last-child) {
    margin-bottom: 10px;
  }
.header {
  border-bottom: 1px solid #f2f2f2;
}
.header_top {
  background-color: #f2f2f2;
}
  .header__container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
  }
    .header_top__nav,
    .header_top__soc {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      -ms-align-items: center;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }
      .header_top__nav-link {
        text-decoration: underline;
        margin-right: 18px;
      }
      .header_top__nav li:last-child .header_top__nav-link {
        margin-right: 0;
      }
    .header_top__soc-link {
      margin: 0 7px;
    }
      .header_top__soc-link:hover {
        opacity: .7;
      }
  .header__logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
  }
    .header__logo span {
      margin-left: 7px;
      font-size: 18px;
      font-family: 'Gilroy-ExtraBold';
      text-transform: uppercase;
    }
    .header__logo:hover {
      opacity: .7;
    }
    .header-search__wrp {
      position: relative;
    }
      .header-search__wrp input[type="text"] {
        max-width: 180px;
        background-color: transparent;
      }
      .header-search__wrp input[type="submit"] {
        content: '';
        position: absolute;
        width: 19px;
        height: 20px;
        top: 15px;
        right: 7px;
        padding: 8px 16px;
        background: url(../img/search__btn.png) no-repeat center center / contain;
        border: none;
      }
  .header_bot {
    padding: 20px 0;
  }
    .header__info-item {
      max-width: 220px;
      padding-left: 25px;
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
    .header__info-item_tel {
      margin-top: -20px;
    }
      .header__info-item:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 25px;
        top: 0;
        left: 0;
      }
      .header__info-item_geo:before {
        background: url(../img/geo__icon.png) no-repeat 50% 50% / contain;
      }
      .header__info-item_tel:before {
        background: url(../img/tel__icon.png) no-repeat 50% 50% / contain;
      }
      .header__info-item-ttl {
        font-family: 'Gilroy-ExtraBold';
        font-size: 17px;
        margin-bottom: 4px;
      }
        .header__info-item a:last-child {
          text-decoration: underline;
          color: #474747;
        }
        .header_bot a:hover {
          opacity: .5;
        }
      .cart__link-wrp {
        position: relative;
      }
        .cart__value {
          position: absolute;
          padding: 5px;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: center;
          -ms-align-items: center;
          align-items: center;
          color: #fff;
          background-color: #b40916;
          border-radius: 50%;
          width: 27px;
          height: 25px;
          font-size: 14px;
          line-height: 0.7;
          top: -10px;
          right: -14px;
        }
  .main-nav__supply {
    padding: 15px 0;
    background-color: #f2f2f2;
  }
    .main-nav__supply .container {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content:center;
    }
    .main-nav__supply span {
      font-family: 'Gilroy-ExtraBold';
      text-transform: uppercase;
      margin-right: 15px;
    }
  .main-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    margin: 15px auto;
    position: relative;
  }
    .main-nav__link {
      font-family: 'Gilroy-Semibold';
      text-transform: uppercase;
      padding: 13px 20px;
      position: relative;
      display: block;
    }
      .main-nav__link-wrp:hover .main-nav__link {
        color: #b40916;
      }
      .main-nav__link-wrp .main-nav__link::before{
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: #bc232f;
      }
      .main-nav__link-wrp:hover .main-nav__link::before{
        width: 100%;
      }
    .main-nav__link-wrp:nth-child(1) {
      background-color: #b40916;
    }
    .main-nav__link-wrp:nth-child(1) .main-nav__link {
      color: #fff;
      padding-right: 40px;
    }
      .main-nav__link-wrp:nth-child(1) .main-nav__link::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 10px;
        left: auto;
        right: 17px;
        top: 17px;
        background: url(../img/cat__menu-icon_black.png) no-repeat 50% 50% / contain;
      }
    .main-nav__link-wrp:nth-child(1) .main-nav__link::before {
      background-image: url(../img/cat__menu-icon_white.png);
    }
    .main-nav__link-wrp_sub {
      position: relative;
    }
  .main-nav__submenu-wrp {
    background-color: #f8f8f8;
    width: 100%;
    margin: 0;
    position: absolute;
    
    top: 46px;
    right: 0;
    left: 0;

    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    transition: all .6s cubic-bezier(.23,1,.32,1);
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    z-index: 2;
  }
  .main-nav__link-wrp_sub:hover .main-nav__submenu-wrp {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: all .6s cubic-bezier(.23,1,.32,1);
  }
    .main-nav__submenu {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #f8f8f8;
    }
      .main-nav__submenu-link {
        font-size: 12px;
        font-family: 'Gilroy-Semibold';
        text-transform: uppercase;
        padding: 13px 20px;
        display: block;
        border-bottom: 1px solid #fff;
        position: relative;
      }
      .main-nav__submenu-link:hover {
        background-color: #e8e8e8;
      }
      .main-nav__submenu-link::before {
        content: '';
        position: absolute;
        width: 3px;
        
        height: 0;
        background-color: #bc232f;
        left: 0;
        top: 0;
      }
      .main-nav__submenu-link:hover::before {
        height: 100%;
      }
      .main-nav__submenu-link-wrp_sub {
        position: relative;
      }
      .main-nav__submenu-link-wrp_sub::after {
        background: url(../img/filter__arrow.png) no-repeat 50% 50% / contain;
        content: '';
        position: absolute;
        width: 11px;
        height: 7px;
        top: 17px;
        right: 11px;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transition: all .6s cubic-bezier(.23,1,.32,1);
      }
        .main-nav__submenu_2 {
          background-color: #f8f8f8;
          width: 100%;
          margin: 0;
          position: absolute;

          top: 0;
          right: -100%;

          visibility: hidden;
          opacity: 0;
          -webkit-transform: translateX(-30px);
          -ms-transform: translateX(-30px);
          transform: translateX(-30px);
          transition: all .6s cubic-bezier(.23,1,.32,1);
          box-shadow: 0 0 20px rgba(0,0,0,.3);
          z-index: 2;
        }
        .main-nav__submenu-link-wrp_sub:hover .main-nav__submenu_2 {
          visibility: visible;
          opacity: 1;
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
        }
        .main-nav__submenu-link-wrp_sub:hover::after {
          right: 5px;
        }
          
.main-slider {
  padding: 0;
}
  .main-slider__item {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
    .main-slider__container {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: flex-end;
      -ms-align-items: center;
      align-items: center;
    }
      .main-slider__offer {
        max-width: 410px;
        padding: 100px 0;
      }
        .main-slider__ttl {
          font-size: 24px;
          color: #fff;
          margin: 40px 0;
          display: block;
        }
        .main-slider__btn {
          background: transparent;
          border: 2px solid #fff;
        }
        .main-slider__img {
          max-width: 240px;
        }
.main-cat {
  padding-top: 30px;
}
  .main-cat__item {
    max-width: 270px;
  }
  .main-cat__item-ttl {
    font-family: 'Gilroy-Bold';
    text-align: center;
    font-size: 16px;
  }
  .main-cat__item-img {
    width: 175px;
    height: 175px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 15px;
  }
.supply {
  background-color: #f7f7f7;
}
  .supply__item {
    width: 255px;
    height: 82px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: 120px;
    background-size: 120px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
/*.offers__slider .owl-stage-outer {
  padding: 20px 10px 30px;
}*/
.offer__btns-wrp .active {
  color: #fff;
  background-color: #fe4e5b;
  border-color: #fe4e5b;
  -webkit-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
}
.offers__item {
  max-width: 320px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 25px 10px;
  margin: 25px 10px;
  border: 1px solid transparent;
}
.offers__item:hover {
  border: 1px solid #f2f2f2;
}
  .offers__item-ttl {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }
    .offers__item-ttl span:nth-child(1) {
      font-size: 16px;
      color: #000;
      text-transform: uppercase;
      font-family: 'Gilroy-Bold';
    }
  .offers__item-img {
    width: 195px;
    height: 195px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .offers__item-info {
    margin: 15px auto 25px;
  }
  .offers__item-btn {
    margin-bottom: 10px;
  }
  .offers__item-fav,
  .offers__item-click {
    text-decoration: underline;
  }
  .offers__item-click {
    font-size: 16px;
    font-family: 'Gilroy-Semibold';
  }
  .owl-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
  }
  .offers__slider.owl-carousel .owl-nav button.owl-prev {
    position: relative;
    background: #242424;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: auto;
    left: 0;
    border-right: 1px solid #7b7b7b;
  }
  .offers__slider.owl-carousel .owl-nav button.owl-next {
    position: relative;
    background: #242424;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: auto;
    right: auto;
  }
.letter {
  background: url(../img/letter__bg.jpg) no-repeat 50% 50% / cover;
}
  .letter__form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
  }
    .letter__form-ttl {
      color: #fff;
      text-align: right;
      font-size: 20px;
    }
    .letter__form .input__wrp {
      background-color: #fff;
    }
    .letter__form .form__input_submit {
      height: 54px;
      width: 230px;
    }
.advantages {
  background-color: #f7f7f7;
}
  .advantages .section__ttl {
    text-align: center;
  }
  .adv__descr {
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
  }
  .adv__item {
    max-width: 320px;
    padding: 20px 15px;
    background-color: transparent;
    transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -webkit-transition-duration: 0.7s;
    text-align: center;
  }
    .adv__item:hover {
      background-color: #fff;
      -webkit-box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64);
      -moz-box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64);
      box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64);
    }
    .adv__item:hover .adv__item-descr {
      opacity: 1;
      visibility: visible;
    }
  .adv__item-img {
    width: 100%;
    height: 90px;
    margin-bottom: 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .adv__item-ttl {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    font-family: 'Gilroy-Bold';
    margin-bottom: 15px;
  }
  .adv__item-descr {
    opacity: 0;
    visibility: hidden;
  }
.news__cnt {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
  .news__main {
    width: 67%;
  }
    .news__main-inner {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      -ms-align-items: center;
      align-items: center;
    }
      .news__main-img {
        width: 35%;
        max-width: 215px;
        height: 195px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
      .news__main-info {
        width: 67%;
      }
        .news__main-ttl {
          color: #000;
          font-size: 36px;
          font-family: 'Gilroy-ExtraBold';
          margin-bottom: 25px;
        }
        .news__main-descr {
          margin-bottom: 30px;
        }
  .news__prev {
    width: 31%;
  }
    .news__prev-ttl {
      color: #000;
      font-size: 26px;
      font-family: 'Gilroy-ExtraBold';
      margin-bottom: 25px;
    }
    .news__prev-item {
      max-width: 350px;
      position: relative;
      padding-top: 13px;
      color: #000;
    }
    .news__prev-item:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #ccc;
      top: 0;
      left: 0;
    }
    .news__prev-item:not(last-child) {
      margin-bottom: 35px;
    }
      .news__prev-item-date {
        font-size: 14px;
        font-family: 'Gilroy-Semibold';
      }
      .news__prev-item-ttl {
        font-size: 18px;
        font-family: 'Gilroy-Bold';
        margin-bottom: 25px;
      }
.feed {
  background: url(../img/feed__bg.jpg) no-repeat 50% 50% / cover;
}
.feed__form-ttl {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}
.feed__form-subttl {
  font-size: 15px;
  text-align: center;
  color: #fff;
  margin-bottom: 35px;
}
  
  .feed__form-cnt {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
  }
    .feed__form .input__wrp {
      background-color: #fff;
      margin: 10px;
    }
    .feed__form .form__input_submit {
      height: 51px;
      width: 230px;
      margin: 10px;
    }
.map {
  padding: 0;
  position: relative;
}
  .map__cnt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 50px 0;
  }
  .map__container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
    .map__item {
      padding: 40px 30px 40px 70px;
      max-width: 340px;
      background-color: #fff;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      color: #000;
      position: relative;
    }
    .map__item:not(last-child) {
      margin-bottom: 15px;
    }
      .map__item:before {
        content: '';
        position: absolute;
        width: 41px;
        height: 50px;
        left: 18px;
        top: 40px;
        background: url(../img/map__geo-img.png) no-repeat 50% 50% / contain;
      }
      .map__item-ttl {
        font-size: 22px;
        font-family: 'Gilroy-ExtraBold';
        margin-bottom: 15px;
      }
      .map__item-info:not(last-child) {
        margin-bottom: 7px;
      }
.footer {
  padding: 40px 0;
}
  .footer__container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
  }
  .footer__logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
  }
  .footer__logo:hover {
    opacity: .7;
  }
    .footer__logo-cnt {
      margin-left: 7px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
      .footer__logo-cnt span:nth-child(1) {
        font-size: 18px;
        font-family: 'Gilroy-ExtraBold';
        text-transform: uppercase;
      }
      .footer__logo-cnt span:nth-child(2) {
        font-size: 12px;
        opacity: .8;
      }
    .footer__nav-link {
      font-size: 16px;
      font-family: 'Gilroy-Semibold';
      margin-bottom: 10px;
      display: block;
    }
    .footer__info {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
      .footer__info-item {
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        color: #000;
      }
        .footer__info-item:before {
          content: '';
          position: absolute;
          width: 20px;
          height: 25px;
          top: 0;
          left: 0;
        }
      .footer__info-item_tel {
        font-size: 22px;
        font-family: 'Gilroy-Bold';
      }
      .footer__info-item_geo {
        font-size: 18px;
        font-family: 'Gilroy-Semibold';
      }
        .footer__info-item_tel:before {
           background: url(../img/tel__icon.png) no-repeat 50% 50% / contain;
        }
        .footer__info-item_geo:before {
           background: url(../img/geo__icon.png) no-repeat 50% 50% / contain;
        }
      .footer__info_bot {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        -ms-align-items: center;
        align-items: center;
        padding: 20px 0;
      }
        .footer__info-soc {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: space-between;
          -ms-align-items: center;
          align-items: center;
        }
          .footer__info-soc-link {
            margin: 0 7px;
          }
            .footer__info-soc-link:hover {
              opacity: .7;
            }
        .footer__akticom span {
          color: #b40916;
          text-decoration: underline;
        }
ul.breadcrumb {
    margin: 20px 0 15px;
    font-size: 12px;
  }
  ul.breadcrumb > li {
    margin: 0 6px;
    display: inline-block;
    position: relative;
  }
  ul.breadcrumb li:not(:last-child):after {
    font-family: 'Calibri', sans-serif;
    position: absolute;
    content: '/';
    right: -11px;
    top: -2px;
    color: #474747;
    font-size: 14px;
  }
  ul.breadcrumb a {
    font-size: 12px;
    text-decoration: underline;
  }
    ul.breadcrumb > li.active {
        font-weight: 600;
        color: #b40916;
    }
  ul.breadcrumb a:hover {
    color: #000;
    text-decoration: none;
    opacity: .7;
  }
.cat-filter__wrp {
  padding: 25px;
  background-color: #f7f7f7;
  margin-bottom: 30px;
}
  .cat-fliter__reset-wrp {
    margin-left: auto;
    margin-bottom: 5px;
    position: relative;
    display: block;
    border: transparent;
  }
  .cat-fliter__reset-wrp:hover {
    opacity: .7;
  }
  .cat-filter__reset {
    border: transparent;
    color: #b40916;
    font-family: 'Gilroy-Semibold';
  }
  .cat-filter__reset:focus {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    border-color: transparent;
  }
  .cat-fliter__reset-wrp::before {
    background: url(../img/filter__reset.png) no-repeat 50% 50% / contain;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 15px;
    left: 25px;
  }
  .cat-filter__item-wrp {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    max-width: unset;
    margin: 5px;

  }
    .select__wrp select {
      width: 100%;
      max-width: unset;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
      .select__wrp::after {
        background: url(../img/filter__arrow.png) no-repeat 50% 50% / contain;
        content: '';
        position: absolute;
        width: 12px;
        height: 7px;
        top: 20px;
        right: 15px;
      }
.cat__list-wrp {
  padding-bottom: 35px;
}
.cat__list {
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}
  .cat__item {
    max-width: 320px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    padding: 25px 10px;
    margin: 25px 10px;
    border: 1px solid transparent;
  }
  .cat__item:hover {
    border: 1px solid #f2f2f2;
  }
    .cat__item-ttl {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      justify-content: center;
      -ms-align-items: center;
      align-items: center;
      text-align: center;
      margin-bottom: 15px;
    }
      .cat__item-ttl span:nth-child(1) {
        font-size: 16px;
        color: #000;
        text-transform: uppercase;
        font-family: 'Gilroy-Bold';
      }
    .cat__item-img {
      width: 195px;
      height: 195px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
    .cat__item-info {
      margin: 15px auto 25px;
    }
    .cat__item-btn {
      margin-bottom: 10px;
    }
    .cat__item-fav,
    .cat__item-click {
      text-decoration: underline;
    }
    .cat__item-click {
      font-size: 16px;
      font-family: 'Gilroy-Semibold';
    }
    .cat__btns-wrp .active {
      color: #fff;
      background-color: #fe4e5b;
      border-color: #fe4e5b;
      -webkit-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
      -moz-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
      box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
    }

  .cat-results__wrp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
  }
    .cat-results__wrp .section__ttl {
      margin: 0;
    }
    .cat-results__wrp span {
      font-size: 18px;
      margin-right: 10px;
    }
  .cat__list-btn {
    max-width: 200px;
    display: block;
    margin: 30px auto 35px;
    background-color: #474747;
    border: 1px solid #474747;
    padding-left: 35px;
    position: relative;
  }
  .cat__list-btn::before {
    background: url(../img/catalog__more.png) no-repeat 50% 50% / contain;
    content: '';
    position: absolute;
    width: 16px;
    height: 13px;
    top: 14px;
    left: 27px;
  }
.card {
  padding-top: 0;
}
  .card__ttl {
      font-size: 36px;
  }
    .card__cnt {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
    }
      .card__img {
        height: 350px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -webkit-background-size: cover;
        background-size: cover;
      }
        .card__img:hover {
          opacity: .7;
        }

      .card__item:not(last-child) {
        margin-bottom: 9px;
      }
      .card__avail {
        display: block;
        max-width: 200px;
        padding: 8px 8px 8px 29px;
        position: relative;
        font-size: 11px;
        background-color: #f2f2f2;
      }
        .card__avail::before {
          background: url(../img/card__avail.png) no-repeat 50% 50% / contain;
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          top: 8px;
          left: 11px;
          border-radius: 6px;
        }
        .card__item span:nth-child(2) {
          color: #000;
          font-size: 15px;
          font-family: 'Gilroy-Bold';
        }
      .card__price-wrp {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-align-items: center;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
      }
        .card__price-wrp span:nth-child(1) {
          font-size: 16px;
        }
        .card__price-wrp span:nth-child(2) {
          font-size: 26px;
        }
        .card__fav {
          color: #b40916;
          text-decoration: underline;
          position: relative;
          padding-left: 23px;
          font-size: 12px;
        }
           .card__fav::before {
            background: url(../img/card__fav.png) no-repeat 50% 50% / contain;
            content: '';
            position: absolute;
            width: 16px;
            height: 14px;
            top: 1px;
            left: 0px;
           }
           .card__fav:hover {
            opacity: .7;
           }
      .card__buttons {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px !important;
      }
        .card__oneclick {
          background-color: transparent;
          color: #474747;
          border-color: #474747;
        }
      .card__more {
        padding-left: 46px;
        position: relative;
        display: block;
      }
        .card__more:hover {
          color: #474747;
          opacity: .8;
        }
          .card__more:hover .card__more-ttl {
            color: #000;
          }
          .card__more:hover .card__more-ttl img {
            -webkit-transform: translateX(10px) rotate(-90deg);
            -ms-transform: translateX(10px) rotate(-90deg);
            -o-transform: translateX(10px) rotate(-90deg);
            transform: translateX(10px) rotate(-90deg);
          }
        .card__more::before {
          content: '';
          position: absolute;
          width: 35px;
          height: 35px;
          top: 9px;
          left: 0;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          -webkit-background-size: contain;
          background-size: contain;
        }
        .card__more_store::before {
          background-image: url(../img/card__info-btn_1.png);
        }
        .card__more_delivery::before {
          background-image: url(../img/card__info-btn_2.png);
        }
        .card__more_payment::before {
          background-image: url(../img/card__info-btn_3.png);
        }
          .card__more-ttl {
            font-family: 'Gilroy-Semibold';
            margin-bottom: 5px;
            text-transform: uppercase;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -ms-align-items: center;
            align-items: center;
          }
            .card__more-ttl img {
              margin-left: 7px;
              -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              -o-transform: rotate(-90deg);
              transform: rotate(-90deg);
            }
        .card__share {
          font-size: 12px;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          -ms-align-items: center;
          align-items: center;
          justify-content: space-between;
        }
  .card__interest {
    padding-top: 0;
  }
    .card__interest .section__ttl {
      margin-top: 0;
    }